body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: #1E90FF;  青基調の背景色 */
  /* background: linear-gradient(to bottom, #1E90FF, #0071C5);  青基調のグラデーション */
  background: linear-gradient(90deg, rgb(22, 135, 237), rgb(20, 55, 90));
}

.stopwatch-container {
  text-align: center;
}

.stopwatch-display {
  font-size: 8em;
  color: #fff; /* 白色の文字色 */
  background-color: #333; /* 背景色 */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 15px 25px;
  font-size:  3em;
  margin: 0 10px;
  border: none;
  background-color: #fff; /* 白色のボタン */
  border-radius: 5px;
  cursor: pointer;
}
